# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\18050518209\Java\ycu_training\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
